@use "./base.scss";

// put your custom CSS here!

.page-title {
  margin: 0;
  font-size: 2rem;
}

.callout {
   &[data-callout="published"] {
    --color: rgb(0, 255, 255);
    --border: rgba(0, 255, 255, 0.2);
    --bg: rgba(0, 255, 255, 0.05);
    --callout-icon: var(--callout-icon-success);
  }





  &[data-callout="shared"] {
    --color: rgb(0, 255, 0);
    --border: rgba(0, 255, 0, 0.2);
    --bg: rgba(0, 255, 0, 0.05);
    --callout-icon: var(--callout-icon-paperclip);
  }

  &[data-callout="shareable"] {
    --color: rgb(255, 255, 0);
    --border: rgba(255, 255 , 0, 0.2);
    --bg: rgba(255, 255, 0, 0.05);
    --callout-icon: var(--callout-icon-email);
  }

  &[data-callout="notshareable"] {
    --color: rgb(255, 0, 255);
    --border: rgba(255, 0, 255, 0.2);
    --bg: rgba(255, 0, 255, 0.05);
    --callout-icon: var(--callout-icon-dots);
  }

  &[data-callout="thesis"] {
    --color: rgb(0, 255, 255);
    --border: rgba(0, 255, 255, 0.2);
    --bg: rgba(0, 255, 255, 0.05);
    --callout-icon: var(--callout-icon-tip);
  }

  &[data-callout="citation"] {
    --color: rgb(0, 255, 255);
    --border: rgba(0, 255, 255, 0.2);
    --bg: rgba(0, 255, 255, 0.05);
    --callout-icon: var(--callout-icon-abstract);
  }


  &[data-callout="proposition"] {
    --color: rgb(0, 255, 255);
    --border: rgba(0, 255, 255, 0.2);
    --bg: rgba(0, 255, 255, 0.05);
    --callout-icon: var(--callout-icon-tip);
  }

    &[data-callout="theorem"] {
    --color: rgb(0, 255, 255);
    --border: rgba(0, 255, 255, 0.2);
    --bg: rgba(0, 255, 255, 0.05);
    --callout-icon: var(--callout-icon-tip);
  }

  &[data-callout="lemma"] {
    --color: rgb(0, 255, 255);
    --border: rgba(0, 255, 255, 0.2);
    --bg: rgba(0, 255, 255, 0.05);
    --callout-icon: var(--callout-icon-tip);
  }

    &[data-callout="corollary"] {
    --color: rgb(0, 255, 255);
    --border: rgba(0, 255, 255, 0.2);
    --bg: rgba(0, 255, 255, 0.05);
    --callout-icon: var(--callout-icon-tip);
  }

    &[data-callout="definition"] {
    --color: rgb(255, 0, 255);
    --border: rgba(255, 0, 255, 0.2);
    --bg: rgba(255, 0, 255, 0.05);
    --callout-icon: var(--callout-icon-scroll);
  }

    &[data-callout="convention"] {
    --color: rgb(255, 255, 0);
    --border: rgba(255, 255, 0, 0.2);
    --bg: rgba(255, 255, 0, 0.05);
    --callout-icon: var(--callout-icon-warning);
  }

    &[data-callout="proof"] {
    --color: rgb(255, 255, 0);
    --border: rgba(255, 255 , 0, 0.2);
    --bg: rgba(255, 255, 0, 0.05);
    --callout-icon: var(--callout-icon-success);
  }
}

.katex { 
  font-size: 1em !important; 
}

article a.internal.broken {
  color: inherit !important;
  font: inherit !important;
  opacity: 1 !important;
  text-decoration: none !important;
  background: none !important;
  border: none !important;
  cursor: text !important;
  pointer-events: none !important;
}

article a.internal.broken:hover {
  color: inherit !important;
  text-decoration: none !important;
}